<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.club.mapper.OcrRuleConfigMapper">
    
    <resultMap type="OcrRuleConfig" id="OcrRuleConfigResult">
        <result property="id"    column="id"    />
        <result property="keyword"    column="keyword"    />
        <result property="targetField"    column="target_field"    />
        <result property="fieldType"    column="field_type"    />
        <result property="isActive"    column="is_active"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectOcrRuleConfigVo">
        select id, keyword, target_field, field_type, is_active, sort_order, created_at from ocr_rule_config
    </sql>

    <select id="selectOcrRuleConfigList" parameterType="OcrRuleConfig" resultMap="OcrRuleConfigResult">
        <include refid="selectOcrRuleConfigVo"/>
        <where>  
            <if test="keyword != null  and keyword != ''"> and keyword like concat('%', #{keyword}, '%')</if>
            <if test="targetField != null  and targetField != ''"> and target_field = #{targetField}</if>
            <if test="fieldType != null  and fieldType != ''"> and field_type = #{fieldType}</if>
            <if test="isActive != null "> and is_active = #{isActive}</if>
        </where>
        order by sort_order asc
    </select>
    
    <select id="selectOcrRuleConfigById" parameterType="Long" resultMap="OcrRuleConfigResult">
        <include refid="selectOcrRuleConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOcrRuleConfig" parameterType="OcrRuleConfig" useGeneratedKeys="true" keyProperty="id">
        insert into ocr_rule_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="keyword != null and keyword != ''">keyword,</if>
            <if test="targetField != null and targetField != ''">target_field,</if>
            <if test="fieldType != null and fieldType != ''">field_type,</if>
            <if test="isActive != null">is_active,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="keyword != null and keyword != ''">#{keyword},</if>
            <if test="targetField != null and targetField != ''">#{targetField},</if>
            <if test="fieldType != null and fieldType != ''">#{fieldType},</if>
            <if test="isActive != null">#{isActive},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateOcrRuleConfig" parameterType="OcrRuleConfig">
        update ocr_rule_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="keyword != null and keyword != ''">keyword = #{keyword},</if>
            <if test="targetField != null">target_field = #{targetField},</if>
            <if test="fieldType != null">field_type = #{fieldType},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOcrRuleConfigById" parameterType="Long">
        delete from ocr_rule_config where id = #{id}
    </delete>

    <delete id="deleteOcrRuleConfigByIds" parameterType="String">
        delete from ocr_rule_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>